<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Predicción - Enfermedad Celíaca</title>
</head>
<body>
    <h1>Formulario para Diagnóstico de Enfermedad Celíaca</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>

    {% if prediction is not none %}
    <h2>Resultado:</h2>
    <p><strong>Predicción:</strong> {% if prediction == 1 %} Enfermo {% else %} No Enfermo {% endif %}</p>
    <p><strong>Probabilidad de tener la enfermedad celíaca:</strong> {{ probability|floatformat:2 }}%</p>
    {% endif %}
</body>
</html>
