{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Diagnóstico Predictivo</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div class="titulo">
        Diagnóstico Predictivo de Diabetes<br>mediante K-Nearest Neighbors
    </div>

    <img src="{% static 'img/DIABETES.png' %}" alt="Diagnóstico" class="imagen">

    <div>
        <a href="{% url 'diagnostico' %}">
            <button class="btn-diagnostico">Hacer diagnóstico</button>
        </a>
    </div>
</body>
</html>
